# maven ignore
target/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
*.ipr
*.iml
*.iws
**/.idea/**/libraries
**/.idea/**/dictionaries
**/.idea/**/tasks.xml
**/.idea/**/uiDesigner.xml

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
/provider-*/
/consumer/
/etcd/
*.class
